{% extends 'layout/layout.html' %}
{% block content %}
   {% include 'layout/header.html' %}
   <div class="container mt-5 website-detail mb-5">
       <div class="row">
           {% if website.image_url  %}
            <div class="col-md-6">
                    <img src="{{website.image_url}}" class="image" alt="image"/>
            </div>
           {% else %}
            <div class="col-md-6">
                 <img src="/media/{{website.image}}" class="image" alt="image"/>
            </div>
           {% endif %}
           <div class="col-md-6">
                <h1>{{website.name}}</h1>
                <div class="row website-crud-links">
                    <a href="{% url 'websites:create' %}" class="btn btn-success">Ajouter un site</a>
                    {%if request.user.id == website.developper.id%}
                        <a href="{% url 'websites:edit' id=website.id %}" class="btn btn-warning">Mettre à jour ce site</a>
                        <a href="{% url 'websites:delete' id=website.id %}" class="btn btn-danger">Supprimer ce site</a>
                    {% endif %}
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <h2 class="category">Author: {{website.developper.username}}</h2>
                    </div>
                    <div class="col-md-4 offset-md-4">
                       <h2 class="category">Category: #{{website.category.name}}</h2>
                    </div> 
                </div>
                <div class="row text-justify">
                    {{ website.description }}
                    
                </div>
           </div>

       </div>
   </div>
{% endblock %}